.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 150px;
    background-color: #252525;
    background-image: linear-gradient(to right, #252525, #252525, #17f3f3, #252525, #252525);
    box-sizing: border-box;
    margin:0,0,0,0;
}

.header img {
    height: 150px;
    object-fit: contain;
    margin-left: 40px;
    margin-right: 40px;
}

.header .center-text {
    font-family: "Press Start 2P", system-ui;
    color: #17f3f3;
    flex-grow: 1;
    background-image: "assets/hackers_group.png";
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

body {
    font-family: "Press Start 2P", system-ui;
    color: #000080;
    margin: 0;
    background-image: url("assets/gibson.png");
    background-attachment: fixed;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
.top-section{
    background-image: url("assets/gibson.png");
    margin: 80px auto;
    background-attachment: fixed;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
.bottom-section{
    margin:auto;
    display: flex;
    color: #17f3f3;
    text-align: center;
    max-width: 1624px;
}
.left{
    flex: 50%;
    float: left;
    width: 50%;
    height: 100%;
    color: #17f3f3;
    text-align: center;
    padding-top: 100px;
}
.right{
    float: right;
    width: 50%;
    height: 100%;
    flex: 50%;
    color: #17f3f3;
    text-align: center;
    padding-top: 100px;
}
.press-start-2p-regular {
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
}
label{
    font-family: "Press Start 2P", system-ui;
    color:#d2d8b2;
    margin-top:25px;
    display:inline-block;
}
.container {
    width: 600px;
    margin: 80px auto;
    border: 3px solid #21dae7;
    background-color: #133750;    
    padding: 20px;
    box-shadow: 5px 5px 15px #d9e2c1;
}
.img-container {
    padding: 20px;
    margin: 80px auto;
    width: 600px;
    padding: 10px;
    
}
.container img{
    display: inline;
    float: left;
}

textarea {
    font-family: "Press Start 2P", system-ui;
    width: 100%;
    height: 100px;
    margin: 10px 0;
    line-height: 2.0;
    background-color: #192836;
    border: 2px solid #21dae7;
    color: #d2d8b2;
}
.button-container {
    display: flex;
    justify-content: space-between; /* Space out buttons across the full width */
    width: 100%; /* Span the entire width */
    padding: 10px; /* Optional padding for spacing */
    box-sizing: border-box; /* Include padding in the total width */
}
button {
    font-family: "Press Start 2P", system-ui;
    padding: 10px;
    background-color: #ffa500;
    color: #000;
    font-weight: bold;
    border: 2px solid #ff5e00;
    cursor: pointer;
}
button:hover {
    font-family: "Press Start 2P", system-ui;
    background-color: #ff6b00;
    color: #fff;
}
h1 {
    font-family: "Press Start 2P", system-ui;
    color: #ff6b00;
    font-size: 32px;
}